
body {
    font-family: Arial;
    background-color: white;

    background-image: url("cloth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.top {
    /* background-color: black; */
    color: black;
    text-align: center;
    padding: 10px;
}

.menu {
    
    background-color: yellow;
    text-align: center;
    padding: 8px;
}

.menu a {
    color: black;
    margin: 10px;
    text-decoration: none;
}

.box {
    border: 1px solid black;
    width: 200px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
}